@{
    ViewData["Title"] = "Home Page";

}

<h1 class="text-center">Get to Know Joel</h1>

<div class="text-center">
    <a href="https://www.qwcomedy.com/">Quick Wits Comedy</a>
    <br />
    <a href="https://baconsale.com/">Baconsale</a>
    <br />
    <br />
    <a href="https://baconsale.com/">
        <img src="~/img/baconsalekate.jpg" height="500" />
    </a>
</div>

