@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">The Joel Hilton Film Collection</h1>
    <br /><br />
    <img src="~/img/joelhiltonheadshot.jpg" height="500" />
</div>
<div>
    <a asp-controller="Home" asp-action="MovieData">For Joel</a>
</div>


