@{
}
@model Movie
<h1>Enter a movie to be added to the Movie Collection:</h1>
<br /><br />
<form method="post">
    <label asp-for="Category">Category:</label>
    <select asp-for="CategoryId">
        <option value="">Select a Category</option>
        @foreach (Category c in ViewBag.Categories)
        {
            <option value="@c.CategoryId">@c.CategoryName</option>
        }
    </select>
    <br /><br />
    <label asp-for="Title">Title:</label>
    <input asp-for="Title" />
    <br /><br />
    <label asp-for="Year">Year:</label>
    <input type="number" asp-for="Year" />
    <br /><br />
    <label asp-for="Director">Director:</label>
    <input asp-for="Director" />
    <br /><br />
    <label asp-for="Rating">Rating:</label>
        <select asp-for="Rating">
            <option value="">Select a Rating</option>
            @foreach (var m in ViewBag.Ratings)
            {
                <option value="@m">@m</option>
            }
        </select>
    <br /><br />
    <label asp-for="Edited">Edited:</label>
    <select asp-for="Edited">
        <option value="true">Yes</option>
        <option value="false">No</option>
    </select>
    <br /><br />
    <label asp-for="LentTo">Lent To:</label>
    <input asp-for="LentTo" />
    <br /><br />
    <label asp-for="CopiedToPlex">Copied To Plex</label>
    <select asp-for="CopiedToPlex">
        <option value="true">Yes</option>
        <option value="false">No</option>
    </select>    
    <br /><br />
    <label asp-for="Notes">Notes:</label>
    <input asp-for="Notes" />

    <br /><br /><br />
    <button type="submit">Submit Movie</button>

    <div asp-validation-summary="All"></div>

</form>